<script src="https://www.google.com/recaptcha/api.js"></script>
<div class="content">
  <div class="container">
    <label for="userAccount">Login:</label>
    <input id="userAccount" type="text" placeholder="Digite aqui seu login!" />

    <label for="userPassword">Senha:</label>
    <input id="userPassword" type="password" placeholder="Digite aqui sua senha!" />

    <div class="g-recaptcha" data-sitekey="6Lf53HMoAAAAAIK3zXu2RKcTHH0XB79kZoLJhCZE"></div>

    <a href="">Cadastrar novo usuário!</a>

    <button type="submit">Fazer login!</button>
  </div>
</div>